/* RESET RULE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}
/*  - - - - - - - - - - -- - GENERAL RULE - - - - - - - - - - - - - */
.container{
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.button-specific{
    color: black;
    background-color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 7px;
}

.gray-background{
    background-color: #23272A;
    color: white;
    text-decoration: none;
    border-radius: 7px;
    padding: 5px;
}


    /* - - - - - -  - - HEADER RULE - - - - - - - - - - */
.top-header{
    background-color: #265EE8;
}

header nav a{
    color: white;
    text-decoration: none;
}

/*XXXXXXXX   CAMBIO PER NON AVERE ALTEZZA FISSA XXXXXXX*/
.top-header-section{
    padding-top: 10px;
    padding-bottom: 10px;
}

/*XXXXXXXX  CAMBIO PER NON AVERE ALTEZZA FISSA XXXXXXX*/
.top-header-section > *{
    padding: 10px;
}

.logo-header, .login{
    width: 20%;
}


.login{
    text-align: right;
}
.link{
    width: 60%;
    text-align: center;
}

li {
    display: inline-block;
}

h2{
    font-size: 40px;
} 
/* - -  - - - - --  -- - - BOTTOM HEADER- - - - - - - - - - - - --  - */


/*XXXXXXXX  CAMBIO PER NON AVERE ALTEZZA FISSA XXXXXXX*/
/* provare a centrarlo senza flex */
.bottom-header{
    background-image: url("../img/jumbo.png");
    height: 100%;
    width: 100%;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
}

.container-small{
    max-width: 800px;
    margin: 0 auto;
    width: 100%; 
    text-align: center;
}

.bottom-header-section{
    min-height: 400px;
}

.container-small h1, .container-small p{
    margin: 20px;
    color: white;
    line-height: 25px;
}

.container-small a{
    margin: 10px;
}

    /* ----------- - - - - - - - -MAIN RULE - - - - - - -- - - -------------*/
/*XXXXXXXX  CAMBIO PER NON AVERE ALTEZZA FISSA XXXXXXX*/
.section-padding{
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-left{
    width: 70%;
    height: 300px;
}

.section-right{
    width: 30%;
    height: 300px;
}

.section-main-4-box{
    min-height: 600px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* --------SECTION 1--------- */
.section-main-1 .section-right >*{
    padding: 10px;
}


.section-main-1 img{
    width: 100%;
    height: 100%;
}

/* --------SECTION 2--------- */
.section-main-2 img{
    width: 100%;
    height: 100%;
}

/* --------SECTION 3--------- */
.section-main-3 img{
    width: 100%;
    height: 100%;
}



/* ---------- -  - - - - - - FOOTER RULE - - - - - -- - - --------------- */

.top-footer{
    padding: 20px 0;
}

.left-top-footer{
    width: 25%;
    min-height: 350px;
}

.right-top-footer{
    width: 75%;
    min-height: 350px;
}
.right-top-footer > *{
    width: calc(100% / 4);
}

.top-footer hr {
    background: white;
    margin-top: 30px;
    height: 4px;
    width: 100%;
}

/*  - -- - - - - - - - - - -BOTTOM FOOTER  - -- - - - - - - - - -*/
.bottom-footer{
    justify-items: center;
    align-items: flex-end;
}

.bottom-footer-section{
    min-height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo, .bottone{
    padding: 3px;
}

/* ------------------DEBUG------------------------ */
.debug *{
    border: 1px dashed red;
}

/*
.debug header .top-header{
    background-color: #ADD8E6;
}

.debug header .top-header .top-header-section > *{
    background-color: orange;
}
*/


.debug header .bottom-header {
    background-color: blue;
}


.debug header .container-small{
    background-color: plum;

}


.debug main .section-main-2, .debug main .section-main-4{
    background-color: lightgray;

}

.debug .section-left{
    background-color: #1D90FF;
}

.debug .section-right{
    background-color: #FFC1CB;
}

.debug .section-main-4-box{
    background-color: green;
}

.debug footer > *{
    background-color: #23272A;
}

.debug .left-top-footer{
    background-color: #F08080;
}

.debug .right-top-footer{
    background-color: #21B2AA;
}

.debug .bottom-footer-section{
    background-color: #21B2AA;
}

.debug .bottom-footer-section >*{
    background-color: pink;
}


